

.search-container {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.dropdownn {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.dropdownn:empty {
  border: none;
}

.dropdownn-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

input {
  width: 220px;
}

.search-inner {
  display: flex;
}
